<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.campus_space_scheduler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_dashboard"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_dashboard"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusSpaceScheduler">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".app_admin.AdminActivity"
            android:exported="true"/>
        <activity android:name=".app_admin.ViewLogsActivity" />
        <activity android:name=".app_admin.UserTableActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".OtherUserActivity" />
        <activity android:name=".EditScheduleActivity" />
        <activity android:name=".ViewScheduleActivity" />
        <activity android:name=".DetailedViewScheduleActivity" />
        <activity android:name=".BaseScheduleSelectorActivity"/>
        <activity android:name=".WeekScheduleActivity" />
        <activity android:name=".app_admin.ProfileActivity" />
        <activity android:name=".app_admin.ManageBookingsActivity" />
        <activity android:name=".DayScheduleActivity" />
        <activity android:name=".csed_office.CsedOfficeStaffActivity" />
        <activity android:name=".csed_office.OfficeLiveStatusActivity" />
        <activity android:name=".csed_office.OfficeHistoryActivity" />
        <activity android:name=".csed_office.KeyRecordsActivity" />

        <activity android:name=".booking_user.BookingUserActivity"
            android:exported="true"/>
        <activity android:name=".booking_user.BookingDetailsActivity"
            android:exported="true"/>
        <activity android:name=".booking_user.CancelRequestActivity"
            android:exported="true"  />
        <activity android:name=".booking_user.BookingHistoryActivity"
            android:exported="true"/>
        <activity android:name=".booking_user.AvailableTimeSlotsActivity"
            android:exported="true" />
        <activity android:name=".booking_user.ProfileActivity"
            android:exported="true"/>
        <activity android:name=".booking_user.BookingFormActivity"
            android:exported="true"/>

        <service android:name="com.example.hod.utils.NotificationService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".lab_admin_incharge.LabAdminDashboardActivity" />
        <activity android:name=".lab_admin_incharge.LabAdminBookingDetailsActivity" />
        <activity android:name=".lab_admin_incharge.PendingRequestsActivity" />
        <activity android:name=".lab_admin_incharge.LiveStatusActivity" />
        <activity android:name=".lab_admin_incharge.BookingDetailsActivity" />
        <activity android:name=".lab_admin_incharge.ApprovalHistoryActivity" />
        <activity android:name=".lab_admin_incharge.CapturePhotoActivity" />
        <activity android:name=".lab_admin_incharge.FacultyApprovalHistoryActivity" />
        <activity android:name=".lab_admin_incharge.FacultyBookingDetailsActivity" />
        <activity android:name=".lab_admin_incharge.FacultyPendingRequestsActivity" />
        <activity android:name=".lab_admin_incharge.FacultyLiveStatusActivity" />
        <activity android:name=".lab_admin_incharge.FacultyDashboardActivity" />
        <activity android:name=".lab_admin_incharge.FacultySelectionActivity" />
        <activity android:name=".lab_admin_incharge.FacultyViewScheduleActivity" />
        <activity android:name=".lab_admin_incharge.HallInchargeActivity" />
        <activity android:name=".lab_admin_incharge.LabAdminSelectionActivity" />
        <activity android:name=".lab_admin_incharge.LabDetailsActivity" />
        <activity android:name=".lab_admin_incharge.LoginActivity" />
        <activity android:name=".lab_admin_incharge.MainActivity" />
        <activity android:name=".lab_admin_incharge.ReportIssueActivity" />
        <activity android:name=".lab_admin_incharge.ViewScheduleActivity" />
        <activity android:name=".lab_admin_incharge.ProfileActivity" />
        <activity android:name=".lab_admin_incharge.NotificationsActivity" />

        <service
            android:name=".lab_admin_incharge.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>